<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.home.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.home.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.home.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.home.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controller.home.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>controller.home.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OTPController</servlet-name>
        <servlet-class>controller.home.OTPController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.home.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>controller.home.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>controller.home.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmindashboardController</servlet-name>
        <servlet-class>controller.admin.AdmindashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogController</servlet-name>
        <servlet-class>controller.home.BlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailController_h</servlet-name>
        <servlet-class>controller.home.ProductDetailController_h</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackController</servlet-name>
        <servlet-class>controller.feedback.FeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserController</servlet-name>
        <servlet-class>controller.admin.AddUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginStaffController</servlet-name>
        <servlet-class>controller.admin.LoginStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VNPayQuery</servlet-name>
        <servlet-class>controller.home.VNPayQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VNPayRefund</servlet-name>
        <servlet-class>controller.home.VNPayRefund</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.home.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderInfor</servlet-name>
        <servlet-class>controller.home.OrderInfor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderlistController</servlet-name>
        <servlet-class>controller.order.OrderlistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFeedbackServlet</servlet-name>
        <servlet-class>controller.feedback.UpdateFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailsController</servlet-name>
        <servlet-class>controller.order.OrderDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailController</servlet-name>
        <servlet-class>controller.home.BlogDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyOderList</servlet-name>
        <servlet-class>controller.home.MyOderList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusController</servlet-name>
        <servlet-class>controller.admin.StatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutStaffController</servlet-name>
        <servlet-class>controller.admin.LogoutStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderCheckoutController</servlet-name>
        <servlet-class>controller.home.OrderCheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WarehouseStaffController</servlet-name>
        <servlet-class>controller.warehousestaff.WarehouseStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleListController</servlet-name>
        <servlet-class>controller.sale.SaleListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleDashboardController</servlet-name>
        <servlet-class>controller.sale.SaleDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleManagerListController</servlet-name>
        <servlet-class>controller.sale.SaleManagerListOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WareHouseProduct</servlet-name>
        <servlet-class>controller.warehousestaff.WareHouseProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackasController</servlet-name>
        <servlet-class>controller.feedback.FeedbackasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactController</servlet-name>
        <servlet-class>controller.home.ContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedBackManagement</servlet-name>
        <servlet-class>controller.feedback.FeedBackManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/forgotpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OTPController</servlet-name>
        <url-pattern>/otp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/updatep</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdmindashboardController</servlet-name>
        <url-pattern>/admindashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogController</servlet-name>
        <url-pattern>/blogcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailController_h</servlet-name>
        <url-pattern>/productdetail_h</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackController</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserController</servlet-name>
        <url-pattern>/adduser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginStaffController</servlet-name>
        <url-pattern>/loginstaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VNPayQuery</servlet-name>
        <url-pattern>/vnpayquery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VNPayRefund</servlet-name>
        <url-pattern>/vnpayrefund</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderInfor</servlet-name>
        <url-pattern>/orderinfor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderlistController</servlet-name>
        <url-pattern>/orderlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFeedbackServlet</servlet-name>
        <url-pattern>/updatefeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailsController</servlet-name>
        <url-pattern>/orderdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailController</servlet-name>
        <url-pattern>/blogdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyOderList</servlet-name>
        <url-pattern>/myoderlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutStaffController</servlet-name>
        <url-pattern>/logoustaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusController</servlet-name>
        <url-pattern>/updateStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutStaffController</servlet-name>
        <url-pattern>/logoutstaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderCheckoutController</servlet-name>
        <url-pattern>/ordercheckout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WarehouseStaffController</servlet-name>
        <url-pattern>/warehouse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleListController</servlet-name>
        <url-pattern>/salelist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleDashboardController</servlet-name>
        <url-pattern>/saledashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleManagerListController</servlet-name>
        <url-pattern>/salemanagerlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WareHouseProduct</servlet-name>
        <url-pattern>/warehouseproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackasController</servlet-name>
        <url-pattern>/feedbackas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactController</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedBackManagement</servlet-name>
        <url-pattern>/feedmanager</url-pattern>
    </servlet-mapping>
</web-app>
